.eachCommentBox{
    position: relative;
}

#listItemStyle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.commentTextStyle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}